*{
    box-sizing: border-box;
}
body,html{
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
}
.main{
    background: white;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
}
.hamburger{
    display: none;
}
.navbarstyle{
    display: flex;
    justify-content: end;
}
.navbar ul{
    display: flex;
    justify-content: end;
    list-style-type: none;
    background-color: white;
    overflow: hidden;
    gap: 18px;
    padding-right: 110px;
}
.navbar a{
    color: black;
    text-decoration: none;
    height: 43px;
    flex-shrink: 0;
    font-family: "Heebo", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.navbar li{
    float: right;
    padding: 10px;
}
.navbar a:hover{
    background: #FF6464;
    cursor: pointer;
}
.section1{
    margin: 60px;
    gap: 105px;
    height: 396px;
    flex-shrink: 0;
    background: white;
    display: flex;
    justify-content: center;
}
.section1main{
    display: grid;
}
.name{
    width: 506px;
    height: 105px;
    flex-shrink: 0;
    color: #21243D;
    font-family: "Heebo", sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; 
}
.picborder{
    width: 243px;
    height: 243px;
    margin-top: 20px;
    flex-shrink: 0;
    fill: #EDF7FA;
}
.pic{
    width: 243px;
    height: 243px;
    flex-shrink: 0;
    border-radius: 243px;
    background-image: url(images/Ellipse\ 1.png), lightgray 50% / cover no-repeat;
}
.textlayout{
    color: #21243D;
    font-family: "Heebo", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 497px;
    height: 66px;
    flex-shrink: 0;
}
.downloadblock{
    width: 208px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #FF6464;
    text-align: center;
    border: none;
    color: #FFF;
    font-size: 20px;
}
.downloadblock:hover{
    box-shadow: 2px 4px 8px grey;
    border: none;
    cursor: pointer;
}
.section2{
    display: flex;
    justify-content: center;
    height: 396px;
    flex-shrink: 0;
    background: #EDF7FA;
}
.toptext{
    color: #21243D;
    font-family: "Heebo", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    margin: auto;
}
.child{
    width: 418px;
    height: 295px;
    padding: 20px;
    flex-shrink: 0;
    border-radius: 4px;
    background: white;
    box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
}
.childtop{
    width: 374px;
    height: 85px;
    flex-shrink: 0;
    color: #21243D;
    font-family: "Heebo", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.childmid{
    width: 374px;
    height: 34px;
    flex-shrink: 0;
    color: #21243D;
    font-family: "Heebo", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 24px;
}
.viewitems{
    padding-top: 10px;
    width: 418px;
    height: 28px;
    flex-shrink: 0;
    color: #00A8CC;
    text-align: right;
    font-family: "Heebo", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.viewitems:hover{
    color: aqua;
    cursor: pointer;
}
.subsection{
    padding: 10px 10px;
}
.section3{
    display: grid;
    justify-content: center;
    margin: 60px;
    flex-shrink: 0;
    background: white;
}
.picture{
    width: 246px;
    height: 180px;
    margin-right: 20px;
    flex-shrink: 0;
    border-radius: 6px;
    background: lightgray;
}
.heading{
    color: #21243D;
    font-family: "Heebo", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.yearflex{
    display: flex;
    align-items: center;
}
.year{
    text-align: center;
    width: 62px;
    height: 25px;
    flex-shrink: 0;
    border-radius: 16px;
    background-color: #142850;
}
.yeartext{
    color: white;
    font-family: "Heebo", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
}
.skill{
    width: 374px;
    height: 34px;
    flex-shrink: 0;
    color: #8695A4;
    font-family: "Heebo", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 30px;
}
.bottomtext{
    width: 594px;
    height: 93px;
    flex-shrink: 0;
    color: #21243D;
    font-family: "Heebo", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.box{
    display: flex;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 20px;
}
.footer{
    justify-content: center;
    align-items: center;
    height: 182px;
    flex-shrink: 0;
}
.subfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.component{
    margin: 20px;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}
.component:hover{
    cursor: pointer;
    height: 37px;

    background-color: white;
}
.footertext{
    color: #21243D;
    text-align: center;
    font-family: "Heebo", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footerdiv{
    display: grid;
    justify-content: center;
}
.material-symbols-outlined {
    display: none !important;
}

.textlayout{
    width: 368px; 
    height: 117px;
}

@media screen and (max-width: 880px) {
    .navbar ul{
        display: none;
    }
    .material-symbols-outlined {
        display: flex !important;
        padding: 20px;
        justify-content: end;
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
    }
    .material-symbols-outlined:hover{
        background: #FF6464;
        cursor: pointer;
    }
    .main{
        display: grid;
        background: white;
    }
    .section1{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
        margin:0px 60px 30px 60px;
        gap: 0px;
        height: auto;
        flex-shrink: 0;
        background: white;
    }
    .section1main{
        gap: 30px;
    }
    .picborder{
        width: auto;
        height: auto;
        flex-shrink: 0;
        fill: #EDF7FA;
    }
    .pic{
        width: auto;
        height: auto;
        flex-shrink: 0;
        border-radius: 243px;
        background-image: url(images/Ellipse\ 1.png), lightgray 50% / cover no-repeat;
    }
    .section2{
        display: grid;
        justify-content: center;
        height: auto;
        padding-bottom: 20px;
    }
    .child{
        margin: 0px 10px;
    }
    .footer{
        display: grid;
        justify-content: center;
        align-items: center;
        height: auto;
        flex-shrink: 0;
        padding-bottom: 30px;
    }
    .name{
        margin: 0;
        padding-top: 30px;
        width: auto;
        height: auto;
    }
    .textlayout{
        margin: 0;
        width: auto;
        height: auto;
    }
    .subsection{
        padding: 0;
        margin-bottom: 20px;
    }
    .box{
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .section3{
        margin: 0;
    }
    .bottomtext{
        margin: 0 30px;
        width: auto;
        height: auto;
        text-align: center;
        padding: 20px;
    }
    .heading{
        text-align: center;
    }
    .skill{
        width: auto;
        height: auto;
        margin-left: 0;
    }
    .toptext{
        text-align: center;
    }
    .picture{
        width: auto;
        height: auto;
        text-align: center;
        background: white;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .year{
        text-align: center;
        width: auto;
        height: auto;
    }
    .yearflex{
        display: grid;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    .subfooter{
        height: auto;
    }
    .footertext{
        width: auto;
        height: auto;
    }
    .viewitems{
        display: none;
    }
    .downloadblock{
        margin: 20px 0px;
    }
}
@media screen and (max-width : 460px) {
    .main{
        justify-content: center;
    }
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .section1{
        max-width: 300px;
        margin: 0;
        padding: 10px;
    }
    .section2{
        max-width: max-content;
    }
    .section3{
        max-width: fit-content;
    }
    .child{
        height: auto;
        width: auto;
        display: grid;
        margin: 0;
    }
    .childtop{
        width: 260px;
    }
    .childmid{
        width: auto;
        height: 12px;
        gap: 1px;
        margin-bottom: 0;
        margin-right: 0;
        margin-left: 0;
        margin-top: 6px;
    }
    .box{
        padding: 0 20px;
        width: 300px;
    }
    .picture{
        text-align: start;
    }
    .textlayout{
        width: 260px;
    }
    .heading{
        text-align: left;
    }
    .bottomtext{
        text-align: left;
        padding: 0;
        margin: 0;
    }
    .yearflex{
        justify-content: left;
    }
}